doctype html
html(lang="zxx")
  block head
    head
      meta(charset="utf-8")
      title OZiTAG test
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="preconnect" href="https://fonts.gstatic.com")
      link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="css/style.min.css")
  body
    include ../includes/index/mixins
    block header
      include header
    block content
    block scripts
      script(src='js/main.min.js')
