.header {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;

  background-color: $color-primary-dark;
}

.header__inner {
  @include media-tablet-sm {
    position: static;

    justify-content: flex-end;
  }

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
