extends common/layout

block content
  main.content
    .container
      .content__txt
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti excepturi qui consequatur magnam beatae dolores soluta, maiores minus quis consequuntur aliquid? At quam explicabo harum quasi expedita culpa sequi veniam.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti excepturi qui consequatur magnam beatae dolores soluta, maiores minus quis consequuntur aliquid? At quam explicabo harum quasi expedita culpa sequi veniam.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti excepturi qui consequatur magnam beatae dolores soluta, maiores minus quis consequuntur aliquid? At quam explicabo harum quasi expedita culpa sequi veniam.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti excepturi qui consequatur magnam beatae dolores soluta, maiores minus quis consequuntur aliquid? At quam explicabo harum quasi expedita culpa sequi veniam.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti excepturi qui consequatur magnam beatae dolores soluta, maiores minus quis consequuntur aliquid? At quam explicabo harum quasi expedita culpa sequi veniam.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti excepturi qui consequatur magnam beatae dolores soluta, maiores minus quis consequuntur aliquid? At quam explicabo harum quasi expedita culpa sequi veniam.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti excepturi qui consequatur magnam beatae dolores soluta, maiores minus quis consequuntur aliquid? At quam explicabo harum quasi expedita culpa sequi veniam.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti excepturi qui consequatur magnam beatae dolores soluta, maiores minus quis consequuntur aliquid? At quam explicabo harum quasi expedita culpa sequi veniam.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti excepturi qui consequatur magnam beatae dolores soluta, maiores minus quis consequuntur aliquid? At quam explicabo harum quasi expedita culpa sequi veniam.
